mjx-container[jax="CHTML"][display="true"] {
  background-color: #eef;
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  margin: 1em 0;
}

@media (prefers-color-scheme: dark) {
  mjx-container {
    color: #ddd;
  }
  
  mjx-container[jax="CHTML"][display="true"] {
    background-color: #3a3a3a;
    border: 1px solid #eef;
  }
}