.tikz-wrapper {
  display: flex;  /* Use flexbox for centering */
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  margin: 1em 0;
  padding: 8px 12px;
  background-color: #eef;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  width: auto;  /* Allow wrapper to adjust to content */
}

@media (prefers-color-scheme: dark) {
  .tikz-wrapper {
    background-color: #3a3a3a;
    border: 1px solid #eef;
  }
}
